body {
    color: #fff;
    background: #f6f5f2;
    font-family: sans-serif;
    margin-top: 0px;
    padding: 0;
}

main {
    display: flex;
}
header {
    padding: 0px 0px;
    background-image: url('header.jpg');
    background-position: right;
    background-repeat: no-repeat;
    height: 290px;
}

header h1 {
    font-size: 80px;
    font-weight: 800;
    color: black;
    font-family: 'Newsreader', serif;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-left: 30px;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
